@model IEnumerable<SafetyCorner.Models.MenuList>
<div class="site-title">
    <img width="569" height="127" src="content/img/ISSite.gif" alt="文字方塊: 中壢廠環安資訊網站"></div>
<div class="menu-bg">
</div>
<div class="menu">
    @foreach (var item in Model)
    {
        if (item.Title_ID == 0)
        { 
        <!-- @(item.Text) 選單 -->
        <div id="menu@(item.ID)" class="menu-title">
            @item.Text</div>
        <div for="menu@(item.ID)" class="sub-menu">
            <ul class="menu-list">
                @foreach (var subItem in Model.Where(m => m.Title_ID.Value.Equals(item.ID)))
                {
                    <li>
                        @if (!string.IsNullOrEmpty(subItem.Href))
                        { 
                            <a href="@subItem.Href" >@subItem.Text </a>
                        }
                        else
                        {
                            @Html.ActionLink(subItem.Text, subItem.Action, subItem.Controller)
                        }
                    </li>
                }
            </ul>
        </div>
        <!-- end @(item.Text) 選單 -->
        }
    }
    @*    <!-- 工安衛組織 選單 -->
    <div id="menu1" class="menu-title">
        工安衛組織</div>
    <div for="menu1" class="sub-menu">
        <ul class="menu-list">
            <li><a href="page/01.htm" target="content">委員組織圖</a></li>
            <li><a href="page/lonka.htm" target="content">會議記錄</a></li>
        </ul>
    </div>
    <!-- end 工安衛組織 選單 -->
    <!-- 工安衛指標 選單 -->
    <div id="menu2" class="menu-title">
        工安衛指標</div>
    <div for="menu2" class="sub-menu">
        <ul class="menu-list">
            <li><a href="page/error.htm" target="content">廠區指標</a></li>
            <li><a href="page/error.htm" target="content">職災統計</a></li>
            <li><a href="page/error.htm" target="content">節能減廢</a></li>
        </ul>
    </div>
    <!-- end 工安衛指標 選單 -->
    <!-- 工安衛園地 選單 -->
    <div id="menu3" class="menu-title">
        工安衛園地</div>
    <div for="menu3" class="sub-menu">
        <ul class="menu-list">
            <li><a href="page/error.htm" target="content">工作守則</a></li>
            <li><a href="page/error.htm" target="content">規章計劃</a></li>
            <li><a href="page/error.htm" target="content">化學品管理</a></li>
            <li><a href="page/error.htm" target="content">承攬啇管理</a></li>
            <li><a href="page/error.htm" target="content">監督量測</a></li>
            <li><a href="page/error.htm" target="content">自動檢查</a></li>
            <li><a href="page/error.htm" target="content">緊急應變</a></li>
            <li><a href="page/error.htm" target="content">作業管制</a></li>
            <li><a href="page/error.htm" target="content">健康園地</a></li>
        </ul>
    </div>
    <!-- end 工安衛園地 選單 -->
    <!-- 工安衛ｅ報 選單 -->
    <div id="menu4" class="menu-title">
        工安衛ｅ報</div>
    <div for="menu4" class="sub-menu">
        <ul class="menu-list">
            <li><a href="page/error.htm" target="content">學習電子報</a></li>
            <li><a href="page/error.htm" target="content">訓練資訊</a></li>
            <li><a href="page/error.htm" target="content">事故案例</a></li>
        </ul>
    </div>
    <!-- end 工安衛ｅ報 選單 -->
    <!-- 工安小幫手 選單 -->
    <div id="menu5" class="menu-title">
        工安小幫手</div>
    <div for="menu5" class="sub-menu">
        <ul class="menu-list">
            <li><a href="page/error.htm" target="content">諮詢管理</a></li>
        </ul>
    </div>
    <!-- 工安小幫手 選單 -->
*@
</div>
